.text-top {
    font-size: 28px;
    line-height: 36px;
    color: #4086ff;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
}

.search{
    width: 250px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #22313f;
}
.ask{
    height: 60px;
    border: none;
    background: #ffa216;
    box-shadow: 0 4px 8px rgba(0,0,0,.15);
    border-radius: 60px;
    width: 300px;
    padding: 15px 0;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}